bottle=0.12.19
bottle-websocket=0.2.9
cffi=1.15.0
Eel=0.14.0
future=0.18.2
gevent=21.12.0
gevent-websocket=0.10.1
greenlet=1.1.2
pip=22.0.4
pycparser=2.21
pyparsing=3.0.7
setuptools=60.2.0
wheel=0.37.1
whichcraft=0.6.1
zope.event=4.5.0
zope.interface=5.4.0
